* {
  margin: 0;
  padding: 0;
}

.d-item {
  max-height: 700px;
  overflow: hidden;
}

.d-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.3);
}
header h1 {
  color: red;
}

.text-crsl {
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

h1 {
  font-family: "Roboto", sans-serif;
}

.subT {
  font-family: "Open sans", sans-serif;
  text-align: center;
  margin-top: 25px;
  color: rgb(12, 9, 150);
  font-weight: 550;
}

.nashe {
  padding: 30px;
  gap: 60px;
  width: 100%;
}
.img-card {
  width: 90%;
}

.card {
  /* box-sizing: content-box; */
  padding: 10px 5px;
}
